
body{

    background-color:#2A488C;
}


h2{
    text-align: left;
    font-size:35px;
    font-family: cursive;
}
header{
    position: fixed;
    top:0;
    z-index: 20;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
    background-color: #2A488C;
    color: #fff;
    text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    max-height: 450px;
    margin: auto;
}

.container{
    background-color: #fff;
    padding: 10px;
}
.panel-body{
    background-color: #DFDADA;
}
#search-box {
    /*width: 250px;
    height: 40px; 
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
    margin: 20px 0 20px;
}



#products{overflow:hidden;}
#products ul{
    float:left;
}

#products p{
text-align: center;
font-weight: 900; 
font-size:20px ;
}
.thumbnail{
    border-radius: 8px;
}
.thumbnail img{
    border-radius: 8px;
    width: 380px;
    height: 250px;
}
ul{
    width: 100%;
}
footer{
    height: 60px;
    width: 100%;
    background-color: #2A488C;
    color: #fff;
}

